{%extends 'main/layout.html'%}

{%block title%}
    Контакты
{%endblock%}

{%block content%}
    <div class="features">
        <h1> About Me and My contacts</h1>
            <p> Меня зовут Николай,мне 17 лет. Учусь в Технологиском колледже на "Тестирование ПО" из любимых занятий это компьютерные игры, улучшение своего уровня английского языка и программирование</p>
        <div class="mess">
            <a href="https://vk.com/id214010789"><button class=" btn btn-primary" id="vk"><i class="bi bi-messenger"></i>Мой VK</a></button>
            <a href="https://www.instagram.com/sidorovich476/"><button class=" btn btn-warning" id="inst"><i class="bi bi-instagram"></i>Мой INST</a></button>
            <a href="https://t.me/erydand"><button class=" btn btn-success" id="tg"><i class="bi bi-send"></i>Мой TG</a></button>
        </div>
    </div>
{%endblock%}